let config = {
    local: false,
    wsUri: "ws://{location.hostname}:3001", // here {hostname} will be replaced to window.location.hostname
    credentials: {
        login: "test",
        password: "test"
    }
}