.mat-dialog-content {
    overflow: hidden;
}

.button-globe {
    float:right;
    margin-top:-5px;
}

.dialog-title {
    float:left;
}

.dialog-content {
    float: left;
}

mat-card-title,
mat-card-content {
        display: flex;
        justify-content: center;
}

.error {
        padding: 16px;
        width: 300px;
        color: white;
        background-color: red;
}

.button {
        display: flex;
        justify-content: flex-end;
}
