<mat-card-content>
  <form [formGroup]="authForm" (ngSubmit)="login()">
  <p>
    <mat-form-field>
      <input matInput name="username" placeholder="Username"
            formControlName="usernameFormControl" required>
      <mat-error translate>FieldRequired</mat-error>
    </mat-form-field>
  </p>
    <p>
    <mat-form-field>       
        <input matInput name="password" placeholder="Password"
        formControlName="passwordFormControl" required>
        <mat-error translate>FieldRequired</mat-error>
    </mat-form-field>
  </p>

<div class="button">
  <button type="submit" mat-raised-button>Login</button>
</div>
  </form>
</mat-card-content>

